# for reading the files
pyyaml

# for accessing flight data
xarray
requests
aiohttp
ipfsspec
intake
intake-xarray
orcestra

# for decoration
tqdm
coloredlogs

# for plotting
bokeh
cartopy
hvplot

# for using this environment in a Jupyter Notebook
ipykernel
jupyter
